Package: lab1v9
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.31)
Maintainer: Your Name <ggwp07303@gmail.com>
Description: C++ program for matrix transformation
 Simple matrix transformation console utility.
 Built with C++.
